rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Открытый доступ для чтения и записи
    // TODO: Позже добавить Firebase Authentication для безопасности
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
